/* stylelint-disable max-nesting-depth */

// Countdown
@use '../variables' as *;

.container {
  align-items: center;
  color: $title;
  display: flex;
  font-family: $font-family-alternative;
  font-weight: 600;

  > span {
    font-size: 12rem;
    margin: 0 0.8rem;
  }
}

.numbers {
  align-items: center;
  background: $white;
  border-radius: 0.5rem;
  box-shadow: 0 0 6rem rgba($black, 0.5);
  display: flex;
  flex: 1;
  font-size: 12rem;
  justify-content: space-evenly;
  text-align: center;

  span {
    flex: 1;

    &:first-child {
      border-right: 1px solid #f0f1f3;
    }

    &:last-child {
      border-left: 1px solid #f0f1f3;
    }
  }
}

.button {
  align-items: center;
  background: $blue;
  border: 0;
  border-radius: 0.5rem;
  color: $white;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  height: 8rem;
  justify-content: center;
  margin-top: 3.2rem;
  outline: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 100%;

  img,
  svg {
    margin-left: 1rem;
  }

  svg {
    fill: $white;
    transition: all 0.2s ease-in-out;
  }

  &:hover:not(:disabled) {
    background: $blue-dark;
  }

  &:active {
    background: $blue;
  }

  &:disabled {
    background: rgba($hex-white, 0.6);
    color: $text;
    cursor: default;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.button_active {
  background: $white;
  color: $title;

  svg {
    fill: $title;
    transition: all 0.2s ease-in-out;
  }

  &:hover:not(:disabled) {
    background: $red;
    color: $white;

    svg {
      fill: $white;
    }
  }

  &:active {
    background: $gray;
  }

  &::before {
    background: $gray-line;
    border-radius: 0 0 0.5rem 0.5rem;
    bottom: 0;
    content: '';
    height: 0.4rem;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.progress {
  background: $green;
  border-radius: 0 0 0.5rem 0.5rem;
  bottom: 0;
  height: 0.4rem;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
