@use "../variables" as *;

// Expecience bar
.container {
  display: flex;
  align-items: center;

  span {
    font-size: 1.6rem;
  }

  > div {
    position: relative;
    flex: 1;
    height: 4px;
    margin: 0 2rem;
    background: $gray-line;
    border-radius: 4px;
  }
}

.progress {
  height: 4px;
  background: $green;
  border-radius: 4px;
}

.current {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
