// Expecience bar
@use '../variables' as *;

.container {
  align-items: center;
  display: flex;

  span {
    font-size: 1.6rem;
  }

  > div {
    background: $gray-line;
    border-radius: 4px;
    flex: 1;
    height: 4px;
    margin: 0 2rem;
    position: relative;
  }
}

.progress {
  background: $green;
  border-radius: 4px;
  height: 4px;
}

.current {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);
}
