/* stylelint-disable max-nesting-depth */
@use "../variables" as *;

// Profile
.container {
  display: flex;
  align-items: center;

  div {
    margin-left: 2rem;
  }
}

.avatar {
  width: 8.8rem;
  height: 8.8rem;
  background: $gray-line;
  border-radius: 50%;
}

.info {
  strong {
    font-size: 2.4rem;
    font-weight: 600;
    color: $title;
  }

  p {
    display: flex;
    align-items: center;
    margin-top: .8rem;
    font-size: 1.6rem;

    img {
      margin-right: .5rem;
    }
  }
}
