// Home
.container {
  display: flex;
  flex-direction: column;
  max-width: 992px;
  height: 100vh;
  padding: 4rem 3.2rem;
  margin: 0 auto;

  section {
    display: grid;
    flex: 1;
    align-content: center;
    gap: 10rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
