// Colors
$white: var(--white);
$black: var(--black);
$background: var(--background);
$gray-line: var(--gray-line);
$text: var(--text);
$highlight: var(--highlight);
$title: var(--title);
$red: var(--red);
$green: var(--green);
$blue: var(--blue);
$blue-dark: var(--blue-dark);
$blue-twitter: var(--blue-twitter);

// Fonts
$font-family: 'Intro', sans-serif;
$font-family-alternative: 'Rajdhani', sans-serif;
